.datetime-modal, .datetime-popover {
  ion-datetime {
    --background: var(--ion-color-step-50, #ffffff)
  }
}

.datetime-popover {
  --width: 350px;
}

.datetime-modal {
  --border-radius: 8px;
  --width: 325px;
  --height: 434px;

  ion-datetime {
    width: 325px;
    height: 434px;
  }

  &.datetime-month, &.datetime-month-year, &.datetime-year, &.datetime-time {
    --height: 200px;

    ion-datetime {
      height: 200px;
    }
  }
}

.datetime-accordion {
  ion-datetime {
    height: 300px;

    &.ios {
      border-top: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-250, #c8c7cc)));
      border-bottom: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-250, #c8c7cc)));
    }

    &.md {
      border-bottom: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))))
    }
  }

  &.datetime-month, &.datetime-month-year, &.datetime-year, , &.datetime-time {
    --height: 200px;

    ion-datetime {
      height: 200px;
    }
  }
}

.datetime-selectable {
  background: var(--ion-color-light);
  border-radius: 4px;
  padding: 4px 8px;
  margin: 0 2px;
}
